main article {
  img.small, figure.small {
    max-width: 300px;
  }

  figure {
    text-align: center;
    figcaption {
      font-size: 70%;
      line-height: 1.4em;
      p {
        margin-bottom: 0.5em;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .left {
    float: left;
    padding: 0 2em 1em 0;
  }

  .right {
    float: right;
    padding: 0 0 1em 2em;
  }

  img.left, img.right {
    transform: none;
    position: initial;
  }

  section, footer {
    clear: both;
  }
}
